*{
  /* background-color: black; */
  justify-content: center;
  /* color: aliceblue; */
}
.App{
  max-height: 100%;
  max-width: 100%;
  /* background-color: bisque; */
  text-align: center;
  margin-top: 50px;
}
.App_heading input{
  background-color: aliceblue;
  color: aliceblue;

}